---
---

@import "_bootstrap";

footer {
    margin-top: 20px;
}

.bio img, .news img, .contact img {
    margin: 0 10px;
    float: left;
    vertical-align: text-top;
}

img.item-page-img {
    cursor: pointer;
}

.news header {
    margin-bottom: 30px;
}

.news p {
    @extend .lead;
}
