<footer class="footer">

    <div class="container">
        <div>
            <p  class="text-center">Copyright &copy; 2013 Marcy Schwartz, ALL RIGHTS RESERVED</p>
            <p  class="text-center">Website Design And Development By <a href="mailto:jeffschwartz.webdeveloper@gmail.com">Jeffrey Schwartz</a></p>

        </div>
    </div>

</footer>

<!-- js files go here -->
<script src="{{ "/js/lib/jquery/jquery-2.1.4.min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
<script src="{{ "/js/lib/bootstrap/bootstrap.min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
<script src="{{ "/js/lib/bootstrap/ie10-viewport-bug-workaround.js" | prepend: site.baseurl }}" charset="utf-8"></script>
{% if page.title contains 'Item - ' %}
<script src="{{ "/js/lib/colorbox/jquery.colorbox-min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
<script src="{{ "/js/itempage.js" | prepend: site.baseurl }}" charset="utf-8"></script>
{% endif %}
